force-app/main/default/flows/Get_URL.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_URL_Base</name>
        <label>Get URL Base</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <actionName>GetOrgBaseUrl</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Display_URLs</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__UrlRecords</typeName>
            <typeValue>Account</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>UrlRecords</name>
            <value>
                <elementReference>Get_Account_with_no_Account</elementReference>
            </value>
        </inputParameters>
        <nameSegment>GetOrgBaseUrl</nameSegment>
        <outputParameters>
            <assignToReference>varT_baseURL</assignToReference>
            <name>sfdcBaseURL</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>varT_accountFullUrl</assignToReference>
            <name>sfdcRecordURL</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>Get URL {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Get URL</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Account_with_no_Account</name>
        <label>Get Account with no Account</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_URL_Base</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Display_URLs</name>
        <label>Display URLs</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>links</name>
            <fieldText>&lt;p&gt;{!LinkURL}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Account_with_no_Account</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>LinkURL</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;a href=&quot;{!varT_baseURL}&quot;&gt;Base Link&lt;a/&gt;
&lt;a href=&quot;{!varT_accountFullUrl}&quot;&gt; Full Link&lt;a/&gt;</text>
    </textTemplates>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varT_accountFullUrl</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varT_baseURL</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
</Flow>
